<footer>
    <div class="container">
        <div id="about-summary" class="item">
            <p>
                <img src="/assets/images/logo.webp" alt="Logo of CITADEL" >
            </p>
            <p>
                <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Similique, odio, laborum quas quis dolorem velit consequuntur 
                sed neque et perferendis obcaecati temporibus ducimus quasi porro omnis, 
                architecto ipsam cumque illum.</small>
            </p>
        </div>
        <div id="" class="item">

        </div>
        <div id="contact" class="item">

        </div>
    </div>
    <div id="terms-and-copyright">
        <p>Copyright - CITADEL 2025</p>
    </div>
</footer>