<header>
    <nav role="navigation" aria-label="Main menu">
        <div id="logo">
            <img src="/assets/images/logo.webp" alt="Logo of CITADEL" >
        </div>

        <button class="menu-toggle" aria-controls="primary-menu" aria-expanded="false">
            ☰ Menu
        </button>

        <ul class="nav-menu" id="primary-menu">
            {% for item in site.data.navigation %}
                <li><a href="{{ item.link }}"{% if page.url == item.link %} class="current"{% endif %}>{{ item.name }}</a></li>
            {% endfor %}
        </ul>

        <ul id="resources-menu">
            <li><i class="fa-brands fa-github"></i><a href="#">GitHub</a></li>
            <li><i class="fa-solid fa-grip"></i><a href="#">Demos</a></li>
        </ul>

    </nav>

</header>