<header>
    <nav role="navigation" aria-label="Main menu">
        <div id="logo">
            <img src="/assets/images/logo.webp" alt="Logo of CITADEL" >
        </div>

        <button id="menu-toggle" aria-controls="primary-menu" aria-expanded="false">
            <i class="fa-solid fa-bars"></i>
        </button>

        <ul id="responsive-main-menu" class="hidden">
            {% for item in site.data.navigation.main %}
                <li><a href="{{ item.link }}"{% if page.url == item.link %} class="current"{% endif %}>{{ item.name }}</a></li>
            {% endfor %}
            <li><hr></li>
            {% for item in site.data.navigation.resources %}
                <li><i class="{{ item.icon }}"></i><a target="_blank" href="{{ item.link }}">{{ item.name }}</a></li>
            {% endfor %}
        </ul>

        <ul class="nav-menu" id="primary-menu">
            {% for item in site.data.navigation.main %}
                <li><a href="{{ item.link }}"{% if page.url == item.link %} class="current"{% endif %}>{{ item.name }}</a></li>
            {% endfor %}
        </ul>

        <ul id="resources-menu">
            {% for item in site.data.navigation.resources %}
                <li><i class="{{ item.icon }}"></i><a target="_blank" href="{{ item.link }}">{{ item.name }}</a></li>
            {% endfor %}
        </ul>

    </nav>

</header>